@font-face {
    font-family: ArchivoBlack;
    src: url(styles/assets/fonts/ArchivoBlack-Regular.ttf);
}

@font-face {
    font-family: Glitch;
    src: url(styles/assets/fonts/RubikGlitch-Regular.ttf);
}

@keyframes upDown {
    0% {
        transform: translateY(10%);
    }
    100% {
        transform: translateY(-10%);
    }
}

* {
    margin: 0;
    padding: 0;
}

html {
    scroll-behavior: smooth;
}

.reveal {
    opacity: 0;
    transform: translateY(50px);

    transition: opacity 0.5s ease-in-out, transform 0.5s ease-in-out;
}

.reveal.visible {
    opacity: 1;
    transform: translateY(0);
}
